version: "3.7"
services:
  db:
     image: mysql:8.0
     container_name: database
     volumes:
       - ./mydb:/var/lib/mysql
     environment:
       MYSQL_ROOT_PASSWORD: pythoncourse
       MYSQL_DATABASE: my_db
       MYSQL_USER: root
     ports:
       - "3307:3306"
     expose:
       - "3306"

  devops-rest:
#    command:
#      - /bin/bash
#      - -c
#      - |-
#        sh wait-for-db.sh
    depends_on:
      - db
    image: ofirzvishaboo/flask_name_api:latest
    ports:
      - "3000:3000"
    environment:
      database_host: host.docker.internal
      MYSQL_DB_HOST: db:3306
      MYSQL_DB_USER: root
      MYSQL_DB_PASSWORD: pythoncourse
      PORT: 3000
#    healthcheck:
#      test:  curl --fail http://localhost:5000/users/1 || exit 1
#      interval: 10s
#      timeout: 5s
#      retries: 5

volumes:
    mydb:





